/* ------- Elément principaux de la page ------- */
body
{
    font-family: "Raleway","Arial","Comic Sans MS","Trebuchet MS" ;
    color: black;
    margin: 0;
}

#bloc_page 
{
    margin: auto;
    max-width: 1440px;
    justify-content: center;

}


/* ------- Header ------- */

header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 40px;
    flex-wrap: wrap;

}

#logo img
{
   width: 140px;
}
#inscriremobile
{
    display: none;
}
nav ul 

{
    display: flex;
    flex-wrap: wrap-reverse;
    list-style-type: none;
    display: flex;
    padding: 20px;
    margin: 10px;
    
    
}

nav li
{
    display: flex;
    margin-right: 50px;
    
    
}

nav a 
{
    
    display: flex;
    font-size: 1.3em;  
    color: #181818;
    text-decoration: none;
    line-height: 20px;
    padding-top: 35px;
    padding-left: 10px;
    border-top: 2px solid transparent;
    
}

nav a:hover
{
    color: #0065FC;
    border-top: 2px solid #0065FC;
    line-height: 20px;
    padding-top: 35px;
}

.inscrire
{
    color: #0065FC;
}

/* ------- Navigation ------- */


#titre1 
{
    font-size: x-large;
}

#titre2
{
    margin-block-end: 25px;
    margin-top: -12px;
    font-size: medium;
    font-weight: 500;
}

#search
{
    display: inline-flex;
    vertical-align: baseline;
    align-content: flex-start;
    border: none;
    margin: auto;
    overflow: auto;
    border-collapse: collapse;
    border: 1px solid #f2f2f2;
    border-radius: 20px 20px 20px 20px;
}
#localisation
{
    width: 20px;
    font-size: 15px;
    background-color:  #F2F2F2;
    border-radius: 10px 0px 0px 10px;
    text-align: center;
    padding: 12px;
}

#submitrecherche 
{
    display: none;
}
#textesearch
{
    display: inline;
    padding: 12px;
    width: 210px;
    font-size: 100%;
    font-weight: bold;
    border: none;
}

.bouton
{
    width: 100px;
    font-size: 15px;
    font-weight: bold;
    background-color:  #F2F2F2;
    border-radius: 0px 15px 15px 0px;
    text-align: center;
    padding: 12px;
    cursor: pointer;
    background-color: #0065fc;
    color: white;
}

.bouton:hover
{
    background-color: #deebff;
    color: #0065fc;
}

.bouton i
{
    display: none;
}

/* ------ Filteres ------ */

#filtre
{
    display: flex;
    margin-top: 30px;
    align-items: center;
    font-weight: bold;
}

.retour_mobile
{
    display: none;
}

.filtre3 
{
    display: inline-block;
    border: 2px solid #f2f2f2;
    padding-right: 16px;
    border-radius: 30px;
    margin-left: 30px;
    user-select: none;
    cursor: pointer;
    
}

.filtre3:hover
{
    background-color: #f3f8ff;
    transform: scale(1.015);
}
.filtre3 i 
{
    padding: 16px;
    border-radius: 100px;
    margin-right: 10px;
    color: #0065FC;
    background-color: #deebff;
    margin-left: -2px;
    margin-top: -2px;
    margin-bottom: -2px;
    border: 1px solid #cad7eb;
    width: 16px;
    text-align: center;
    cursor: pointer;
}

.filtre3:hover i
{
    color: #deebff;
    background-color: #0065FC;
}

#information
{
    margin-top: 30px;
    display: flex;
    align-items: center;
}

#information i
{
    border: 2px solid #F2F2F2;
    padding: 8px;
    border-radius: 100%;
    color: #0065fc;
    text-align: center;
    width: 12px;
    margin-right: 15px;
    font-size: 12px;  
}

#information i:hover
{
    color: #deebff;
    background-color: #0065FC;
}

/* ------ Hébergements à Marseille ------- */
#hebergements
{
    display: flex;
    flex-wrap: wrap-reverse;
    margin-top: 30px;
    justify-content: space-around;
}
#titreheberg
{
    margin-left: 30px;
    margin-top: 40px;
}

#titreaafficher
{
    margin-left: 35px;
    font-weight: bold;
    margin-bottom: 40px;
}

article
{
    
    background-color:#F2F2F2;
    border-radius: 25px / 25px;

    position: relative;
    width: 880%;
    flex: 2;
   
    
}
#photo_hébergements
{
    
    display: flex;
    flex-direction: column;
    
}
#photo_hébergements .colonnehebergement
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 30px;
}
#photo_hébergements img
{

    width: 250px;
    height: 120px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
.figurehebergement
{
    margin: 0;
    background-color: white;
    padding: 4px;
    border-radius: 25px;
    box-shadow: 2px 1px 5px 2px rgb(209 209 209);
}
.textehebergement
{
    margin-bottom: 10px;
    line-height: 5px;
    margin-left: 13px;
}

.colonnehebergement i
{
color: #0065fc;
}

.textepopulaire i
{
    color: #0065fc;
}


.figurehebergement:hover
{
    background-color: #f3f8ff;
    transform: scale(1.015);
}


/* ------ Les plus populaires ------- */

aside
{
    display: flex;
    flex-direction: column;
    background-color:#F2F2F2;
    border:  #F2F2F2 solid;
    border-radius: 25px / 25px;
    padding: 1%;
    font-size: 0.9em;
    width: 440%;
    flex: 1;
    margin-left: 50px;
    

}
aside #contenupopulaires
{
    
    display: flex;
    flex-direction: column;
  
}


aside img
{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
    
}

.lignespopulaire
{
    border-radius: 25px;
    display: flex;
    background-color: white;
    padding: 4px;
    box-shadow: 2px 1px 5px 2px rgb(209 209 209);
}



.textepopulaire
{
    padding-left: 20px ;
}
#tetrepopulaire
{
    margin-left: 20px;
    margin-right: 21px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.lignespopulaire:hover
{
    background-color: #f3f8ff;
    transform: scale(1.015);
}









/* ------- Activités à Marseille------- */
#activites
{
    margin-top: 50px;
    margin-bottom: 50px;
}

#contenuactivite
{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;

}

#columnimg1
{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#columnimg2
{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.Grande_taille img
{
    
    width: 330px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.Petite_taille1 img
{
    width: 310px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.Petite_taille2 img
{
    width: 310px;
    height: 100px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.Petite_taille3 img
{
    width: 310px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.Petite_taille1, .Petite_taille2, .Petite_taille3
{   margin: 0;
    border-radius: 20px;
    box-shadow: 2px 1px 5px 2px rgb(209 209 209);
}
.Grande_taille
{   margin: 0;
    width: 100%;
    border-radius: 20px;
    box-shadow: 2px 1px 5px 2px rgb(209 209 209);
}
.titrephotoactivités
{
    margin-left: 15px;

}
.Grande_taille .figcaptionactivités
{
    padding: 1px;
}

#titreactivites
{
   margin-bottom: 30px;
}

#contenuactivite figure:hover
{
    background-color: #f3f8ff;
    transform: scale(1.015);
}



/* ------- Footer ------- */

.footer
{
 max-width: 1700px;
 justify-content: center;
 margin: auto;
 background-color: #F2F2F2 ;   
 padding: 8px 0;
 width: 100%;
 
}

.footer *
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  
}

.container
{
    max-width: 3170px;
    margin: 40px;
   
    
}

.row
{
    display: flex;
    flex-wrap: wrap;
}
.footer ul
{
 list-style: none;
 padding-left: O;

}

.footer ul li 
{
    font-size: 16px;
    margin-bottom: 3%;
   
}

.footer_col
{
    width: 33%;
  
}

.footer_col h3
{
    font-size: 19px;
    margin-bottom: 5%;
    
}

footer li:hover
{
    color: #0065fc;
    font-weight: bolder;
}

