/* ------- Elément principaux de la page ------- */
body
{
    font-family: "Raleway","Arial","Comic Sans MS","Trebuchet MS" ;
    color: black;
}

#bloc_page 
{
    margin: 1%;
    padding: 0 1%;

}


/* ------- Header ------- */

header
{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

}

#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 10px;
    margin: 8px;
}

#logo img
{
    width:100px;
    height: 60px;
}

/* ------- Navigation ------- */

nav ul 

{
    list-style-type: none;
    display: flex;
    padding: 20px;
    margin: 10px;
    
    
}

nav li
{
    display: flex;
    margin-right: 50px;
    
    
}

nav a 
{
    
    display: flex;
    font-size: large;
    font-family: "Arial","Comic Sans MS","Trebuchet MS","Arial Black";
    color: blue;
    padding-bottom: 7px;
    text-decoration: none;
    
}

#intro 
{
    margin: 10px;
    padding: 0 8px;
    
}

#intro h2
{
    margin-bottom: -15px;
}


#bouton 
{
    display: flex;
    margin-bottom: 25px;
}

#bouton i
{
    border: 3px #F2F2F2 solid;
    background-color: #F2F2F2;
    border-radius: 25px / 25px;
}

#filter #row
{
    display: flex;
    flex-wrap: wrap;
    
}

#filter ul
{
    list-style-type: none;
    display: flex;
    

 
}

#filter ul a 
{
   display: inline-block;
   padding: 0 30px;
   display: flex;
   align-items: flex-end


}
#filter li i

{
    display: inline-block;
    display: flex;
    width: 40px; 
}




/* ------ Corps ------- */
section
{
    display: flex;
    flex-wrap: wrap;
}

article
{
    
    border: 1% #F2F2F2;
    background-color:#F2F2F2;
    border-radius: 25px / 25px;
    margin-right: 35px;
    position: relative;
    width: 60%;
   
    
}
#photo_hébergements
{
    
    display: flex;
    flex-direction: column;
    
}
#photo_hébergements .row
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1% 2% 4% 2%;
}
#photo_hébergements img
{
   display: flex;
    width: 200px;
    height: 150px;
    object-fit: cover;
    padding: 1%;
    border-radius: 20px;
    background-color: #FFFFFF;  
    justify-content: space-around; 
}

aside
{
    display: flex;
    flex-direction: column;
    background-color:#F2F2F2;
    border:  #F2F2F2 solid;
    border-radius: 25px / 25px;
    padding: 1%;
    font-size: 0.9em;
    width: 30%;
    

}
aside #row
{
    
    display: flex;
    flex-direction: column;
  
}


aside img
{
    display: flex;
    width: 50%;
    height: 150px;
    object-fit: cover;
    padding: 1%;
    border-radius: 20px;
    background-color: #FFFFFF;
    justify-content: space-around;
    
}
aside .img
{
    padding: 1% 2% 4% 2%;
    flex-wrap: wrap;
}











/* ------- Activités à Marseille------- */
section 
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    margin: 0;
    
}
section h3
{
  display: flex;
  display: flex;
}
section #img_activ
{
    display: flex;
    flex-wrap: wrap;
    
}
.Petite_taille img
{
    display: flex;
    width: 300px;
    height: 180px;
    object-fit: cover;
    padding: 15px;
    border-radius: 25px/25px;
    background-color: #FFFFFF;  
}
.Grande_taille img
{
    width: 300px;
    height: 400px;
    object-fit: cover;
    padding: 15px;
    border-radius: 25px/25px;
    background-color: #FFFFFF;   
}







/* ------- Footer ------- */

.footer
{
 background-color: #F2F2F2 ;   
 padding: 8px 0;
}

.footer *
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container
{
    max-width: 3170px;
    margin: 40px;
}

.row
{
    display: flex;
    flex-wrap: wrap;
}
.footer ul
{
 list-style: none;
 padding-left: O;
}

.footer ul li 
{
    font-size: 16px;
    margin-bottom: 11px;
}

.footer_col
{
    width: 33%;
    padding: O;
}

.footer_col h3
{
    font-size: 19px;
    margin-bottom: 13px;

}
